* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit, sans-serif;
  overflow: hidden;
}
:root {
  --text-preset-1: bold 22px/120% "Outfit";
  --text-preset-2: 400 15px/140% "Outfit";
}
body {
  background-color: hsl(212, 45%, 89%);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.canvas {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.qr-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 320px;
  border-radius: 20px;
  background-color: hsl(0, 0%, 100%);
  padding: 16px 16px 40px 16px;
  gap: 24px;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.0477);
}
.text {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  gap: 16px;
  width: 288px;
  text-align: center;
}
img {
  display: block;
  width: 100%;
  object-fit: fill;
  border-radius: 10px;
}
.bold {
  font: var(--text-preset-1);
  color: hsl(218, 44%, 22%);
  letter-spacing: 0;
}
.description {
  font: var(--text-preset-2);
  color: hsl(216, 15%, 48%);
  letter-spacing: 0.2px;
}
